.graph-details span{
    color: #FFF;
    font-family: Outfit;
    font-size: 12.25px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.307px; /* 116.791% */
}
.graph-cion{
    width: 23px;
    height: 23px;
}